$primary-color-text: #ffffff;

$background-color-primary: #5232ed;
$background-color-css: #027fff;
$background-color-js: #f3c516;
$background-color-html: #ee6b47;
$background-color-games: #44de80;
$background-color-ux: #ff5c8d;
$background-color-card:#f5f5dc;
$box-shadow-color: #482ecb;
$success-color: #44de80;
